<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>davidrokroglic.keyrest</string>
	<key>CFBundleName</key>
	<string>KeyRest</string>
	<key>CFBundleDisplayName</key>
	<string>KeyRest</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>KeyRest needs access to system events to manage keyboard locking.</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>KeyRest requires Accessibility access to lock the keyboard.</string>
</dict>
</plist>
